td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.fa{
  padding-right: 5px;
  color: #444;
}

.container{
  position: relative;

}

.resetPadding{
  padding: 0 !important;
}

.loading{
  position: absolute;
  left: 35%;
  top: 10%;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li a{
  position: relative;
  float: left;
  padding: 10px 20px;
  line-height: 1.42857;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination .active a{
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.created_tag{
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 4px;
  color: #5f5f5f;
  width: fit-content;
}

@media screen and (max-width:535px){
  .pagination-responsive{
    display: none;
  }
  .responsive-font{
    font-size: .9em;
  }
}
